@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500');

.full-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
}

.parent-box {
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

header {
  margin: 5px 0px 5px 25px;
}

h1 {
  font-size: 28px;
  color: white;
  font-family: Oswald;
  font-weight: 500;
  margin: 1px;
  padding: 10px 0;
  letter-spacing: 1px;
}

.intro1,
.intro2 {
    opacity: .7;
    font-size: 16px;
    padding-right: 10px;
}
.intro2 {
  padding-bottom: 10px;
}

div {
  color: white;
  border: 2px solid white;
  display: inline-block;
  padding: 0px 5px 10px 15px;
  width: 20%;
  font-family: Oswald;
  font-size: 12px;
  margin: 10px;
}

.header-icons,
.header-text {
  display: inline-block;
  width: 20%;
  margin: 0;
}

.header-icons {
  padding-top: 10px;
  width: 18%
}

.resume {
  margin-left: 0;
}

.contact {
  padding-right: 24px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  height: 33.3%;
  flex-direction: column;
}

.icons {
  width: 25%;
}

p {
  color: white;
  font-family: Oswald;
  font-weight: 300;
  font-size: 14px;
  margin: 3px;
}

.box1 {
  background-color: #909C35;
  width: 66.6%;
}

.box2 {
  background-color: #C2AB5D;
  width: 33.3%;
}

.box3 {
  background-color: #135F18;
}

.box4 {
  background-color: #796318;
}

.box5 {
  background-color: #909C35;
}

.box6 {
  background-color: #49994F;
}

.box7 {
  background-color: #135F18;
}

.box8 {
  background-color: #49994F;
}

.picture-box {
  width: 40.5%;
  height: 100%;
  background-image: url(cow.jpg);
  margin-left: -1px;
}

.parent-arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.arrows {
  width: 9%;
  height: 9%;
  margin: 0 10px;
}

.parent-dots {
  display: flex;
  justify-content: flex-end;
  margin: 5px 5px 0 0;
}

.dots {
  width: 2%;
  height: 2%;
  margin: 3px;
}

@media screen and (max-width: 800px) {
  .full-container {
    flex-direction: column;
  }

  .parent-box {
    width: 100%;
  }

  .picture-box {
    width: 101%;
    height: 100%;
    order: -1;
    background-image: url(mobile-cow-2.jpg);
    background-size: cover;
    display: flex;
  }

  header {
    text-align: center;
  }

  .header-text {
    padding-left: 2px;
  }

  .header-icons {
    width: 30%;
  }

  .row {
    flex-direction: column;
  }

  .box {
    flex: none;
    width: 100%;
    height: 75%;
    flex-wrap: wrap;
  }

  .box1 {
    width: 100%;
  }

  .icons {
    padding-left: 20px;
  }

  p {
    padding-left: 20px;
  }

  .resume {
    padding-right: 24px;
  }

  .parent-arrows {
    display: none;
  }
}
